/**
 * Footer style
 */

.footer {
	@include flex-row(center, center);
	width: 100%;
	height: $standard-height;
	background: $color-bg2;
	box-shadow: $box-shadow;

	@include screen-x(600px) {
		@include flex-col(center, center);
		height: auto;
	}

	&__left {
		margin-right: 5px;
	}

	&__right {
		margin-left: 5px;
	}

	@include screen-x(600px) {
		padding: 10px 0;
		&__left,
		&__right {
			margin: 0;
			text-align: center;
		}
	}

	.icon {
		color: $color-theme1;
	}
}
