/**
 * General setup and overrides
 */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
	color: $color-text1;
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: 100%;
}

#root {
	@include flex-col(center, center);
	width: 100%;
	flex: 1;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

body {
	background: $color-bg1;
}

html,
body,
figure,
p,
h1,
h2,
h3,
h4,
h5,
ul {
	padding: 0;
	margin: 0;
}

figure {
	position: relative;
}

a,
p,
button,
li,
input,
textarea,
label,
select {
	font-size: $fs-text1;
	color: $color-text1;
}

ul {
	list-style-type: none;
	display: flex;
}

a {
	@include transition;
	text-decoration: none;
	color: $color-theme1;
	font-weight: bold;

	&:hover {
		color: $color-title1;
	}
}

p {
	text-align: justify;
	line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: $line-height;
	color: $color-title1;
}

h1 {
	font-size: $fs-h1;
}

h2 {
	font-size: $fs-h2;
}

h3 {
	font-size: $fs-h3;
}

h4 {
	font-size: $fs-h4;
}

h5 {
	font-size: $fs-h5;
}

option[value=""][disabled] {
	display: none;
}

.bold {
	font-weight: bold;
}

.theme {
	color: $color-theme1;
}

// Unselectable area
.no-select {
	-webkit-touch-callout: none; // iOS Safari
	-webkit-user-select: none; //Safari
	-khtml-user-select: none; // Konqueror HTML
	-moz-user-select: none; // Old Firefox
	-ms-user-select: none; // Internet explorer/edge
	user-select: none; // Everything else
}

svg {
	path {
		color: inherit;
	}
}
