/**
 * Here sits all global variables
 */

$line-height: 1.6;
$color-title1: #ffffff;
$color-text1: #ffffff;
$color-text2: #c5c5c5;
$color-text3: #4b4b4b;
$color-text4: #676767;
$color-bg1: #282828;
$color-bg2: #363636;
$color-bg3: #595959;
$color-bg4: #454545;
$color-theme1: #3274f1;
$color-danger: #fd5b5b;
$color-success: #4c9f4c;
$fs-text1: 18px;
$fs-text2: 22px;

$fs-h1: 3.2em;
$fs-h2: 2.7em;
$fs-h3: 2.2em;
$fs-h4: 2em;
$fs-h5: 1.8em;
$navbar-height: 76px;
$screen-mobile: 900px;
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$section-spacing: 40px;
